:root {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  --white: #f4f2f6;
  --light: #c7a8fc;
  --dark: #5b1cae;
  --medium: #a76ae4;
  --gray: #a49fa2;
  --brown: #684c50;
}

body {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--gray);
  /* position: absolute; */
  /* margin: 1rem auto; */
  /* top: 20vh; */
  /* margin-top: 5rem; */
  width: 80vw;
  max-width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 0.5rem;
}

.card {
  background-color: var(--white);
  width: 100%;
  height: 200px;
  position: relative;
  top: 5rem;
  border-radius: 0.5rem;
  max-width: 400px;
}
